services:
  mysql-master:
    image: "mysql:latest"
    platform: linux/amd64
    hostname: "master"
    container_name: "mysql-master"
    ports:
      - "3306:3306"
    volumes:
      - $PWD/master/conf.d:/etc/mysql/conf.d/
      - $PWD/master/data:/var/lib/mysql
      - $PWD/master/log:/var/log/mysql
      - $PWD/master/backup:/backup
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
      - MYSQL_DATABASE=acquia
  mysql-slave:
    image: "mysql:latest"
    platform: linux/amd64
    hostname: "slave"
    container_name: "mysql-slave"
    ports:
      - "3307:3306"
    volumes:
      - $PWD/slave/conf.d:/etc/mysql/conf.d/
      - $PWD/slave/data:/var/lib/mysql
      - $PWD/slave/log:/var/log/mysql
      - $PWD/slave/backup:/backup
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
      - MYSQL_DATABASE=acquia
    depends_on:
      - mysql-master
  adminer:
    image: "adminer:latest"
    platform: linux/amd64
    container_name: "adminer"
    ports:
      - "8089:8080"
    depends_on:
      - mysql-master
      - mysql-slave
